body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.Fondo {
    margin-top: 1rem;
    width: 100rem;
    height: 40rem;
}
.Fondo .segundo {
    width: 60rem;
    height: 30rem;
}
.Barra-T{
    width: 100rem;
    height: 50px;
    background-color: black;
    margin-top: 29rem;

}

.Barra-T{
    width: 60rem;
    background-color: black;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 24px;
    height: 24px;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.windowsIcon{
    width: 2.4rem;
    height: 3rem;
    margin-left: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.windowsIcon2{
    width: 2.4rem;
    height: 3rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    display: none;
}
.Lupa {
    width: 2.8rem;
    height: 3rem;
    

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Lupa:hover{
    background-color: #5D5F61;
    transition: 0.1s;
}
.Carpeta {
    width: 2.8rem;
    height: 3rem;
    margin-right: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.CarpetaS{
    width: 2.8rem;
    height: 3rem;
    margin-right: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
.windowsIcon:hover{
    background-color: #5D5F61;
    transition: 0.1s;
}
.windowsIcon2:hover{
    background-color: #5D5F61;
    transition: 0.1s;
}
.CarpetaS:hover{
    background-color: #5D5F61;
    transition: 0.1s;
}
.Carpeta:hover{
    background-color: #5D5F61;
    transition: 0.1s;
}
.Search{
    height: 10rem;
    width: 12rem;
    margin-top: 10rem;
    margin-left: 10rem;

    position: absolute;
    background-color: grey;
    display: none;
}
.Buscador{
    width: 2.8rem;
    background-color:black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Tablero{
    height: 16rem;
    width: 12rem;
    margin-top: 10rem;
    margin-right: 48rem;

    position: absolute;
    background-color: #262626;
    display: none;
}
.activar{
    display: flex;
}
.desactivar{
    display: none;
}
.actApagar{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.activar2{
    display: block;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Despliegue{
    width: 2.8rem;
    background-color:black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Despliegue div{
    width: 2.4rem;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Despliegue img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.Despliegue:hover{
    background-color: #5D5F61;
    transition: 0.1s;
}
.Sub-tittle:hover{
    background-color: #5D5F61;
    transition: 0.1s;
}
.Sub-tittle{
    width: 100%;
    height: 100%;
    font-size: small;
}
.Sub-tittle div{
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
}
.Hora{
    margin-left: 53rem;
    margin-top: 29rem;
    font-size: small;
    color: white;
    position: absolute;
}